# App Settings
PROJECT_NAME="AttendWise"
DEBUG=true
API_V1_STR="/api/v1"
SECRET_KEY="development_secret_key_change_me_in_production"
ACCESS_TOKEN_EXPIRE_MINUTES=11520 # 8 days

# Database Settings
DATABASE_URL="postgresql://sajal@localhost:5432/attendwise"

# Gemini API Settings
GEMINI_API_KEY=""
